*.pyc
tmp*
.idea
parser.out
parsetab.py
*.dot
src/config.py
benchmarks/non_parameterized/others/*.smt2
benchmarks/non_parameterized/others/*.dot
benchmarks/non_parameterized/others/callgrind*
*.smt2

